*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {

  /* ----- COLORS ----- */
  --white: #ffffff;
  --black: #000000;
  --orange: #d69e3d;
  --dorange: #966f2c;
  --background: #f3f0e9;

  /* ----- MOBILE TYPESCALES -----  */
  --h1_mobile: 2.027rem;
  --h2_mobile: 1.802rem;
  --h3_mobile: 1.424rem;
  --p_mobile: 16px;

  /* ----- TABLET TYPESCALES -----  */
  --h1_tablet: 2.986rem;
  --h2_tablet: 2.488rem;
  --h3_tablet: 1.728rem;
  --p_tablet: 16px;

/* ----- DESKTOP TYPESCALES -----  */
  --h1_desktop: 3.815rem;
  --h2_desktop: 3.052rem;
  --h3_desktop: 1.953rem;
  --p_desktop: 16px;
}

.wrapper-max{
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

p{
  font-size: var(--p_mobile);
  font-weight: 400;
  line-height: 1.2;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 
        "wdth" 100;
}

.skip-link{
  position: absolute;
  top: -40px; 
  left: 0;
  background-color: var(--black);
  color: var(--white);
  padding: 8px;
  text-decoration: none;
  z-index: 100;
}

.skip-link:focus{
  top: 0;
  position: absolute;
  z-index: 100;
}


.wrapper-general{
  background-color: var(--background);
}

.wrapper-logo-menu{
  background-color: var(--black);
  padding: 44px 0;
}

.wrapper-logo{
  display: flex;
  justify-content: center;
  margin-bottom: 55px;
}

.wrapper-nav-menu{
  display: flex;
  justify-content: center;
  text-align: center;
}

.nav-menu ul{
  display: flex;
  gap: 60px;
}

.nav-menu a{
  color: var(--white);
  text-decoration: none;
  font-weight: 600;
}

.nav-menu li{
  list-style: none;
}

h1{
  font-size: var(--h1_mobile);
  font-weight: 750;
  line-height: 1.25;
}

h2{
  font-size: var(--h2_mobile);
  padding: 8px 0 35px 0;
  font-weight: 700;
  line-height: 1.15;
}

h3{
  font-size: var(--h3_mobile);
  font-weight: 700;
}

/* BANNER */

.wrapper-banner{
  width: 100%;
  position: relative;
  background: var(--black);
}

.banner-img{
  width: 100%;
  object-fit: cover;
  height: 65vh;
  opacity: 0.5;
}

.wrapper-banner-text{
  width: 100%;
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-banner-text h1{
  max-width: 70%;
}

.wrapper-banner-text p{
  padding: 25px 0 60px 0;
  max-width: 60%;
}

a{
  text-transform: uppercase;
  font-weight: 900;
}

.button-menu a{
  background-color: var(--white);
  padding: 16px 35px;
  text-decoration: none;
  font-size: 19px;
  color: var(--black);
}

.bleed-wrapper-general{
  padding: 0 10px;
}

/* WELCOME */

.wrapper-welcome{
  padding: 80px 0;
}

.yellow{
  text-transform: uppercase;
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--orange);
}

.wrapper-welcome-content h2{
  max-width: 60%;
}

.grid-1{
  display: grid;
  gap: 20px;
}

.grid-pair{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid-1 img {
  width: 100%;
}

/* OFFER */

.wrapper-offer{
  padding: 30px 0 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.wrapper-offer div{
  width: 100%;
}

.wrapper-offer-header h2{
  padding-bottom: 60px;
}

.wrapper-offer-content img{
  width: 35%;
  padding-bottom: 30px;
}

.wrapper-offer-content p{
  padding: 20px 50px 60px 50px;
}

/* MENU AND LOCATIONS */

.wrapper-menu-locations{
  position: relative;
  width: 100%;
  background: black;
}

.img-menu-lo{
  width: 100%;
  object-fit: cover;
  height: 87vh;
  object-position: 53%;
  opacity: 0.4;
}

.wrapper-menu-locations-content{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--white);
  padding-top: 20px;
}

.wrapper-ml{
  padding: 40px 50px 80px 40px;
}

.button-locations a{
  color: var(--white);
  padding: 16px 35px;
  border: var(--white) 3px solid;
  text-decoration: none;

}

.button-m-l{
  padding-top: 45px;
}

/* ABOUT US */

.wrapper-about-us{
  margin-top: 100px;
}

.img-about img{
  width: 100%;
  padding-bottom: 25px;
}

.about-content h2{
  padding-bottom: 15px;
}

.button-learn{
  margin: 30px 0 100px 0;
}

.button-learn a{
  text-decoration: none;
  background-color: var(--black);
  color: var(--white);
  padding: 10px 30px;
}

/* TESTIMONIALS */

.wrapper-testimonials{
  background-color: var(--black);
  padding: 80px 10px 60px 10px;
}

.wrapper-testimonials-header h2{
  color: var(--white);
  margin-bottom: 15px;
  padding-right: 20%;
}

.wrapper-testimonials-person img{
  width: 100%;
  object-fit: cover;
  height: 70vh;
  opacity: .7;
}

.wrapper-testimonials-person{
  position: relative;
  width: 100%;
  background: var(--black);
  margin-bottom: 15px;
}

.content-person{
  color: var(--white);
  margin-bottom: 15px;
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  margin-top: -40px;
  padding: 0 15px 55px 25px;
}

.t-white{
  margin-bottom: 10px;
}

.wrapper-testimonials-jane img{
  object-position: 50% 45%;
}

.wrapper-testimonials-scott img, .wrapper-testimonials-susie img{
  object-position: 50% 0%;
}

footer{
  background-color: var(--black);
  color: var(--white);
  padding-bottom: 50px;
}

.content-footer{ 
  display: flex;
  text-align: center;
  padding: 10px;
}

.content-footer p{
  font-weight: 500;
  width: 100%;
  padding-top: 15px;
  border-top: rgb(68, 68, 68) 1px solid;
}

@media screen and (min-width:768px) {
  .wrapper-general{
    margin: auto;
  }

  h1{
    font-size: var(--h1_tablet);
  }
  
  h2{
    font-size: var(--h2_tablet);
  }
  
  h3{
    font-size: var(--h3_tablet);
  }

  /* BANNER */

  .banner-img{
    object-position: 50% 45%;
  }

  .wrapper-banner-text h1{
    max-width: 70%;
  }

  .wrapper-banner-text p{
    max-width: 60%;
  }
  
  /* WELCOME */

  .wrapper-welcome h2{
    width: 530px;
  }

  .grid-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .img-latte{
    grid-column: 1/2;
    grid-row: 1/3;
    width: 100%;
  }

  .grid-pair img{
    width: 100%;
  }


  /* OFFER */

  .wrapper-offer-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .wrapper-offer-item{
    width: 100%;
  }

  .wrapper-offer-item.full-width{
    grid-column: span 2;
    justify-self: center;
    width: 50%;
    margin-top: 20px;
  }
 
  /* MENU AND LOCATIONS */

  .wrapper-menu-locations-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 10px;
  }

  .wrapper-ml{
    padding: 10px 40px 50px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .button-m-l{
    padding: 0;
    margin-top: 70px;
  }

  /* ABOUT US */

  .about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding-bottom: 90px;
    padding-top: 50px;
  }

  .about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* TESTIMONIALS */

  .wrapper-testimonials-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 30px;
  }
  
  .wrapper-testimonials-header h2{
    padding-right: 30%;
  }

}


@media screen and (min-width:1100px) {
  h1{
    font-size: var(--h1_desktop);
  }
  
  h2{
    font-size: var(--h2_desktop);
  }
  
  h3{
    font-size: var(--h3_desktop);
  }

  /* HEADER */

  .wrapper-logo-menu{
    padding: 15px;
  }

  .wrapper-logo-menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  .wrapper-logo{
    margin: 0;
  }

  .nav-menu ul{
    gap: 45px;
  }

  /* BANNER */

  .banner-img{
    object-position: 50% 40%;
  }

  .wrapper-banner-text h1{
    max-width: 60%;
  }

  .wrapper-banner-text p{
    max-width: 50%;
  }

  /* OFFER */

  .wrapper-offer{
    padding: 0 53px;
    margin-bottom: 80px;
  }

  .wrapper-offer-content{
    display: flex;
  }

  .wrapper-offer-trade p, .wrapper-offer-baked p, .wrapper-offer-made p{
    margin: 0;
    padding: 15px 15px 0 15px;
  }

  

  /* MENU AND LOCATIONS */

  .wrapper-menu-locations-content{
    padding: 0 53px;
    margin-top: 45px;
  }

  .img-menu-lo{
    height: 50vh;
  }

  .wrapper-menu h2, .wrapper-locations h2 {
    padding: 20px 0 40px 0;
    margin: 0;
    /* white-space: nowrap; */
  }



  /* ABOUT US */

  .wrapper-about-us{
    padding: 0 53px 70px 53px;
  }

  .about-content{
    padding-top: 100px;
  }

  .button-learn{
    padding-top: 15px;
  }

  /* TESTIMONIALS */

  .wrapper-testimonials{
    padding: 50px 53px 0 53px;
  }

  .wrapper-testimonials-header h2{
    width: 650px;
  }


 

}
